# URL DB
DATABASE_URL=postgresql://neondb_owner:npg_GgkUOTI9Wj1R@ep-red-wave-ac0tny5b-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRATION="30m"

# Entorno
PORT=3000
NODE_ENV=development
CORS_ORIGIN="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"

# Usuario admin
ADMIN_PASSWORD="nati2025"
ADMIN_NAME="Natalia Luhmann"

# Cloudinary
CLOUDINARY_CLOUD_NAME="dtthpsgdi"
CLOUDINARY_API_KEY="394911199988743"
CLOUDINARY_API_SECRET="du3qsjtskuCw0KgGzwGSM8v8cRQ"

# Config del correo para enviar notificaciones (TurboSMTP)
MAIL_HOST="pro.turbo-smtp.com"
MAIL_PORT=465
MAIL_SECURE="true"
MAIL_USER="d3bf441298f23dd7415d"
MAIL_PASS="Ok2XAuY61pg7NU3m4Itw"
MAIL_FROM="luhmannm0@gmail.com"

# Gmail Backup (Commented out)
# MAIL_HOST="smtp.gmail.com"
# MAIL_PORT=465
# MAIL_SECURE="true"
# MAIL_PASS="prym oqdg ovnt wpfa"
# MAIL_USER="luhmannm0"
# MAIL_FROM="luhmannm0@gmail.com"

#Correo donde se envían las notificaciones

# Correo donde se envían las notificaciones
ADMIN_EMAIL="luhmannm0@gmail.com" 
